package layouts

import "os"

func VersionText() string {
	version := os.Getenv("VERSION")
	if version != "" {
		return version
	}
	return "development"
}

templ BaseLayout() {
	<!DOCTYPE html>
	<html lang="en" class="h-full dark">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>JSON Translation Editor</title>
			<link href="/assets/css/output.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
			<script>
				var dID = "c4ea0d27-6c54-4d53-840c-8a888958584c";
			</script>
			<script defer src="https://cdn.jsdelivr.net/gh/NikoJunttila/userAnalytics@main/javascript/centria.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		</head>
		<body class="h-full relative">
			<a href="/" class="mx-auto absolute left-0 top-0">
				<img src="/favicon.ico" class="w-16 h-16"/>
			</a>
			<div class="h-full flex flex-col">
				<main class="flex-1">
					{ children... }
				</main>
				<footer class="p-4 text-center text-gray-400 text-sm">
					<p>Version: { VersionText() } </p>
					<a class="mt-2 text-blue-500" href="https://github.com/NikoJunttila/translations-helper" target="_blank">Github</a>
				</footer>
			</div>
		</body>
	</html>
}
